
<div class="section section--reducedWidth section--colorTheme13 section--relative">
	<section>
		<div class="row row--reducedWidth row--reducedHeight">
			<div class="col">
				{{include 'components/headlineH2/headline.h2' headlineHeadline='What moves us'}}
			</div>
		</div>
		<div class="row row--reducedWidth row--reducedHeight">

			<div class="col col--medium-4">
				{{include 'components/text/text'
						  textJustifyContent='true'
						  textText='Today our world is full of constant upheaval and major ecological and political challenges. We are increasingly faced with pressing
				global questions such as:'}}

				{{include 'components/text/text'
						  textJustifyContent='true'
						  textText='How can we create economic growth while reducing
						  the consumption of energy and resources?'}}

			</div>
			<div class="col col--medium-4">
				{{include 'components/text/text'
						  textJustifyContent='true'
						  textDivider='true'
						  textText='How can we promote urban growth and improve overall quality of life
						  at the same time?' }}

				{{include 'components/text/text'
						  textJustifyContent='true'
						  textDivider='true'
						  textText='How we can ensure healthcare is both high quality and affordable?'}}

				{{include 'components/text/text'
						  textJustifyContent='true'
						  textText='How can we make industrial production more flexible, efficient and competitive?'}}

			</div>

			<div class="col col--medium-4">
				{{include 'components/text/text'
						  textJustifyContent='true'
						  textText='We re striving to tackle these though questions through our pioneering research, products, and solutions in the energy, infrastructures and cities, healthcare, and industry sectors - the exact areas you would be working in as a participant of the CEO* Program.
							Siemens is big enough to do something about these problems. Are you ready to help?' }}
			</div>
		</div>
	</section>
</div>

<div class="section section--colorTheme13 section--removeTopBottomMargins section--relative">
	<section>
		<div class="row row--fullWidthNoPadding">
			<div class="col">
				{{include 'components/accordion/accordion'}}
			</div>
		</div>
	</section>
</div>

<div class="section section--colorTheme15 section--reducedWidth section--removeComponentExtraPadding section--relative">
	<section>
		<div class="row row--reducedWidth">
			<div class="col">
				{{include 'components/factsAndFigures/factsAndFigures' }}
			</div>
		</div>
	</section>
</div>

<div class="section section--colorTheme16 section--removeComponentExtraPadding section--relative">
	<section>
		<div class="row row--reducedWidth">
			<div class="col">
				{{include 'components/textAndImageBackground/textAndImageBackground' }}
			</div>
		</div>
	</section>
</div>

